<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登录失败</title>
</head>
<body>
    <div>
        ${message}
        <br/>
        serverName:${serverName}
        <br/>
        sessionId:${sessionId}
    </div>
</body>
</html>