<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
</head>
<body>
    <div>
        id:${user.id}
        <br/>
        username:${user.userName}
        <br/>
        password:${user.password}
         <br/>
        serverName:${serverName}
         <br/>
        sessionId:${sessionId}
    </div>
</body>
</html>